body {
margin: 0;
padding: 0;
text-align: center;
}

#page {
  display: grid;
  width: 100%;
    grid-template-columns: 3 1fr ;
    grid-template-areas:
    "chien chien chien "
  	"licorne princesse princesse3 "
  	"licorne fille fille "
    "calculette calculette princesse2"
    "hero hero princesse2"
    ;
    transition: .2s all linear
}



h1 img {height:200px;}

h2 {font-family: 'Metamorphous', cursive; text-transform: uppercase; }

.bmo, .finn, .jack, .marceline, .mr, .pc, .pdf, .pls, .rdg {
  padding: 10px;
}

p { width: 50%;
margin: 0 auto;
text-align: justify}

img[alt="gif"] {
  width:300px;
    transition: .2s all ease;

}

.fs {
  background-color: #fbf0b2;
  border: 2px solid #f9c6d7;
  grid-area: calculette;
  transition: .2s all ease;
}

.fs:hover {
  border-radius: 90px;
}
.fs:hover img {border-radius: 90px;}

.aj {
    background-color: #f4ba57;
    border: 2px solid #f8ea9f;
    grid-area: hero;
      transition: .2s all ease;
}
.aj:hover {
  border-radius: 90px;
}
.aj:hover img {border-radius: 90px;}

.pp {
    background-color: #f5bacc;
    border: 2px solid #ed5192;
    grid-area: chien;
      transition: .2s all ease;
}
.pp:hover {
  border-radius: 90px;
}
.pp:hover img {border-radius: 90px;}

.pc {
    background-color: #f8f9fe;
    border: 2px solid #7a9aed;
    grid-area: fille;
      transition: .2s all ease;
}
.pc:hover {
  border-radius: 90px;
}
.pc:hover img {border-radius: 90px;}

.rd {
    background-color: #95e2f6;
    border: 2px solid #fb8346;
    grid-area: licorne;
      transition: .2s all ease;
}
.rd:hover {
  border-radius: 90px;
}
.rd:hover img {border-radius: 90px;}

.rarity {
    background-color: #e7ebee;
    border: 2px solid #473186;
    grid-area: princesse;
      transition: .2s all ease;
}
.rarity:hover {
  border-radius: 90px;
}
.rarity:hover img {border-radius: 90px;}

.ts {
    background-color: #c992d5;
    border: 2px solid #16215f;
    grid-area: princesse2;
      transition: .2s all ease;
}
.ts:hover {
  border-radius: 90px;
}
.ts:hover img {border-radius: 90px;}

.spike {
    background-color: #db98df;
    border: 2px solid #43be54;
    grid-area: princesse3;
      transition: .2s all ease;
}
.spike:hover {
  border-radius: 90px;
}
.spike:hover img {border-radius: 90px;}



@media screen and (max-width: 1024px)
{
#page{
  grid-template-columns: 30% 1fr 1fr ;
  grid-template-areas:
  "licorne hero chien"
	"princesse princesse2 princesse3"
	"roi calculette fille"
	;
}
img[alt="gif"] {
  width:200px;
}
}

@media screen and (max-width: 768px)
{
#page{
  grid-template-columns: 50% 1fr ;
  grid-template-areas:
  "calculette fille"
	"princesse  princesse3"
  "hero princesse2"
  "roi roi"
  "licorne chien"
	;

}
}

@media screen and (max-width: 640px)
{
#page{
  grid-template-columns: 100% 1fr;
  grid-template-areas:
  "hero"
	"fille"
  "princesse3"
  "princesse2"
  "princesse"
  "roi"
  "licorne"
  "chien"
  "calculette"
	;

}
}
