body {
margin: 0;
padding: 0;
text-align: center;
}

#page {
  display: grid;
  width: 100%;
    grid-template-columns: 3 1fr ;
    grid-template-areas:
    "roi chien chien "
  	"licorne princesse princesse3 "
  	"licorne fille fille "
    "calculette calculette princesse2"
    "hero hero princesse2"
    ;
    transition: .2s all linear
}



h1 img {height:100px;}

h2 {font-family: 'Metamorphous', cursive; text-transform: uppercase; }

.bmo, .finn, .jack, .marceline, .mr, .pc, .pdf, .pls, .rdg {
  padding: 5px;
}

p { width: 300px;
margin: 0 auto;
line-height: 22px;}

img[alt="gif"] {
  width:200px;
    transition: .2s all ease;

}

.bmo {
  background-color: #bfffca;
  border: 2px solid #63c5ae;
  grid-area: calculette;
  transition: .2s all ease;
}

.bmo:hover {
  border-radius: 90px;
}
.bmo:hover img {border-radius: 90px;}

.finn {
    background-color: #009ddc;
    border: 2px solid #2b67b0;
    grid-area: hero;
      transition: .2s all ease;
}
.finn:hover {
  border-radius: 90px;
}
.finn:hover img {border-radius: 90px;}

.jack {
    background-color: #ffbb1a;
    border: 2px solid #000002;
    grid-area: chien;
      transition: .2s all ease;
}
.jack:hover {
  border-radius: 90px;
}
.jack:hover img {border-radius: 90px;}

.marceline {
    background-color: #505c76;
    border: 2px solid #0d1440;
    grid-area: fille;
      transition: .2s all ease;
}
.marceline:hover {
  border-radius: 90px;
}
.marceline:hover img {border-radius: 90px;}

.mr {
    background-color: #e1b3cf;
    border: 2px solid #fdf18f;
    grid-area: licorne;
      transition: .2s all ease;
}
.mr:hover {
  border-radius: 90px;
}
.mr:hover img {border-radius: 90px;}

.pc {
    background-color: #ff00cc;
    border: 2px solid #fe66ca;
    grid-area: princesse;
      transition: .2s all ease;
}
.pc:hover {
  border-radius: 90px;
}
.pc:hover img {border-radius: 90px;}

.pdf {
    background-color: #eb7832;
    border: 2px solid #e7b874;
    grid-area: princesse2;
      transition: .2s all ease;
}
.pdf:hover {
  border-radius: 90px;
}
.pdf:hover img {border-radius: 90px;}

.pls {
    background-color: #cc94f9;
    border: 2px solid #fce04e;
    grid-area: princesse3;
      transition: .2s all ease;
}
.pls:hover {
  border-radius: 90px;
}
.pls:hover img {border-radius: 90px;}

.rdg {
    background-color: #5252f9;
    border: 2px solid #addaf7;
    grid-area: roi;
      transition: .2s all ease;
}
.rdg:hover {
  border-radius: 90px;
}

.rdg:hover img {border-radius: 90px;}

@media screen and (max-width: 1024px)
{
#page{
  grid-template-columns: 30% 1fr 1fr ;
  grid-template-areas:
  "licorne hero chien"
	"princesse princesse2 princesse3"
	"roi calculette fille"
	;
}
img[alt="gif"] {
  width:200px;
}

p {width: 220px;}
}

@media screen and (max-width: 768px)
{
#page{
  grid-template-columns: 50% 1fr ;
  grid-template-areas:
  "calculette fille"
	"princesse  princesse3"
  "hero princesse2"
  "roi roi"
  "licorne chien"
	;

}
}

@media screen and (max-width: 640px)
{
#page{
  grid-template-columns: 100% 1fr;
  grid-template-areas:
  "hero"
	"fille"
  "princesse3"
  "princesse2"
  "princesse"
  "roi"
  "licorne"
  "chien"
  "calculette"
	;

}
}
